/build/
/dist/
/public/
/coverage_html_report/
.DS_Store
/.idea/
/.pytest_cache/
/.cache/
/.eggs/
/.tox
/.vscode/
/.coverage
/htmlcov
.*.swp
*.pyc
*.egg-info/
pytestdebug.log
unit-tests.xml
coverage.xml
config.dox
